
@{
    ViewData["Title"] = "Message";
}

<h2>Message</h2>
<i>@ViewData["MessageType"]</i>
<p class="MessageText">@ViewData["MessageText"]</p>
<p class="MessageTechDetails">@ViewData["MessageTechDetails"]</p>
