@model UserProductRequest;
@{
    ViewData["Title"] = "AddRequest";
}

Добрый день, @Model.getUserName()!
<h2>Подтверждение заявки на канцтовары</h2>

Ваша заявка на "@Model.getProductName()" в количестве @Model.ProductAmount шт. принята под №@Model.Id

