
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h2>Запись добровольцев на субботник</h2>
<p>Добрый день, @ViewData["who"]</p>
<form action="/Home/Save" method="post">
    Кто записался: <input type="text" name="who" size="30" value="кто-нибудь"><br>
    На что записался: <input type="text" name="what" size="30" value="пить пиво"><br>
    <input type="submit">
</form>