@model helloWorlld.Classes.Assignment 
@{
    ViewData["Title"] = "Save";
}

<div>
    <h1>data via ViewData:</h1>
    <h2>Спасибо, @ViewData["who"]!!</h2>
    Вы будете: @ViewData["what"]
</div>

<div>
    <h1>data via Model:</h1>
    <h2>Спасибо, @Model.Person!!</h2>
    Вы будете: @Model.Job
</div>

<div>
    <a href="/">Записаться ещё</a>
</div>
